codeinterpreterapi[all]
jupyter-kernel-gateway
typing_extensions
typing-extensions
google_colab_shell
openai==0.28
chromadb==0.4.3
PyPDF2
notebook
ipywidgets
tqdm
python-dotenv
aiogram==2.23.1
pypdf
langchain
tiktoken
